@import '~swiper/swiper-bundle.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    color: unset;
}

.offer_content p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.swiper {
    padding-bottom: 42px;
}
